body {
}
input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 5%;
    padding: 0;
    text-align:center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}

h3 {
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#addForm {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"], #showFormButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

#showFormButton{
    margin: 5%;
}


#logoutButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;

}

#logoutWrapper{
    text-align: right
}

input[type="submit"]:hover {
    background-color: #555;
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#editForm {
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

    a:hover {
        color: #555;
    }

#counter {
    margin-top: 20px;
    text-align: center;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    display: inline-block;
    border-radius: 3px;
}

    .book:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }

.edit-button, .delete-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
    transition: background-color 0.2s;
    border-radius: 3px;
}

    .edit-button:hover, .delete-button:hover {
        background-color: #0056b3;
    }

#addForm {
    display: none;
}






/* Style pour la pop-up (modal) */
.modal {
    /* Afficher la pop-up automatiquement au chargement de la page */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond sombre semi-transparent */
    overflow: auto;
}

/* Style pour le contenu de la pop-up */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
}

/* Style pour le bouton de fermeture (croix) */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}




